        /*ccsvariables*/
        
         :root {
            --primary: #eee;
            --dark: #333;
            --light: #fff;
            --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
        }
        
        html {
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
            color: var(--dark);
        }
        
        body {
            background: #ccc;
            margin: 10px 30px;
            line-height: 1.4;
        }
        
        .wrapper {
            display: grid;
            grid-gap: 20px;
            width: 400px;
            margin: auto;
        }
        
        .logo {
            background: black;
            width: 100px;
            height: 100px;
            color: var(--light);
            display: inline-block;
            vertical-align: middle;
            line-height: 6rem;
            margin: 10px;
        }
        
        .showcase {
            grid-area: showcase;
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        
        .showcase h1 {
            font-size: 1.4rem;
            font-weight: lighter;
            color: var(--dark);
        }
        /* top-box */
        
        .top-box {
            background: var(--primary);
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        /* labels */
        
        .t1>label {
            padding-right: 50px;
            font-size: 0.9rem;
            font-style: lighter;
        }
        
        .t2>label {
            padding-right: 150px;
            font-size: 0.9rem;
            font-style: lighter;
        }
        
        .t4>label {
            padding-right: 200px;
            font-size: 0.9rem;
            font-style: lighter;
        }
        /* input */
        
        .t1>input {
            height: 30px;
            width: 195px;
            margin: 5px;
        }
        
        .t2>input {
            height: 30px;
            width: 400px;
            margin: 5px;
        }
        
        .t4>input {
            height: 30px;
            width: 400px;
            margin: 5px;
        }
        /* box */
        
        .box {
            background: var(--primary);
            text-align: center;
        }
        
        #form1>label {
            font-size: 1.8rem;
            font-style: normal;
        }
        
        .signUp>button {
            height: 50px;
            text-align: start;
            width: 400px;
            font-size: 1.5rem;
            background-color: #2196F3;
            color: var(--light);
        }
        /* footer */
        
        footer {
            margin-top: 1.5rem;
            background: var(--dark);
            color: var(--light);
            padding: 1rem;
            text-align: center;
        }
        /* media queries */
        
        @media(max-width: 700px) {
            .wrapper {
                width: 100%;
                height: auto;
                margin: auto;
                padding: 4px;
            }
            .label {
                float: center;
            }
            .top-box {
                grid-gap: 3px;
            }
            .box {
                width: 100%;
                height: auto;
                margin: auto;
                padding: 4px;
            }
            .input {
                width: 80%;
                height: auto;
                margin: auto;
                padding: 2px;
            }
            .input>div {
                width: 90%;
                height: auto;
                margin: auto;
                padding: 1px;
            }
            .t2>input {
                height: 30px;
                width: 99%;
                margin: auto;
            }
            .t4>input {
                height: 30px;
                width: 99%;
                margin: auto;
            }
            .signUp>button {
                height: 50px;
                text-align: start;
                width: 99%;
                font-size: 1rem;
                margin: auto;
            }
            .t1>input {
                height: 30px;
                width: 99%;
                margin: auto;
                padding: 1px;
            }
        }