    /*ccsvariables*/
    
     :root {
        --primary: #ddd;
        --dark: #333;
        --light: #fff;
        --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    }
    
    html {
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
        color: var(--dark);
    }
    
    body {
        background: #ccc;
        margin: 20px 50px;
        line-height: 1.4;
    }
    
    .wrapper {
        display: grid;
        grid-gap: 20px;
    }
    
    .logo {
        background: black;
        /* align-content: center; */
        box-align: center;
    }
    /*top container*/
    
    .top-container {
        display: grid;
        grid-gap: 20px;
        grid-template-areas: 'showcase top-box-a';
    }
    /* showcase */
    
    .showcase {
        grid-area: showcase;
        padding: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .showcase h1 {
        font-size: 1.5rem;
        margin-bottom: 0;
        color: var(--dark);
    }
    /* top-box */
    
    .top-box {
        background: var(--primary);
        display: grid;
        text-align: start;
        grid-template-columns: repeat(4, 1fr);
    }
    
    .top-box>div {
        background-color: var(--shadow);
        padding: 0;
        font-size: 1rem;
    }
    
    .t1 {
        grid-column: 2/3;
    }
    
    .t2 {
        grid-column: 3/4;
    }
    
    .t1>input {
        height: 30px;
        width: 245px;
        float: right;
        margin: 5px;
        text-align: start;
    }
    
    .t2>input {
        height: 30px;
        width: 245px;
        margin: 5px;
    }
    
    .t4>input {
        height: 30px;
        width: 500px;
    }
    /* box */
    
    .box {
        background: var(--primary);
        text-align: center;
    }
    /* info */
    /* .info {
        background: var(--primary);
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(2, 1fr);
        padding: 3rem;
    } */
    /* signup */
    
    .signUp>button {
        height: 50px;
        text-align: start;
        width: 500px;
        font-size: 2rem;
        background-color: #2196F3;
        color: var(--light);
    }
    
    .signUp p {
        text-align: center;
    }
    /* footer */
    
    footer {
        margin-top: 2rem;
        background: var(--dark);
        color: var(--light);
        padding: 1rem;
        text-align: center;
    }
    /* media queries */
    
    @media(max-width: 700px) {
        .top-container {
            grid-template-areas: 'showcase showcase' 'top-box-a top-box-b';
        }
        .showcase h1 {
            font-size: 2.5rem;
        }
        .main-nav ul {
            grid-template-columns: 1fr;
        }
        .info {
            grid-template-columns: 1fr;
        }
        .info btn {
            display: block;
            text-align: center;
            margin: auto;
        }
    }
    
    @media(max-width: 500px) {
        .top-container {
            grid-template-areas: 'showcase' 'top-box-a' 'top-box-b';
        }
    }